-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."LostItemStatus" AS ENUM ('IN_STORAGE', 'RETURNED');

-- CreateTable
CREATE TABLE "public"."User" (
    "id" TEXT NOT NULL,
    "tag" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Shift" (
    "id" TEXT NOT NULL,
    "guildId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "location" TEXT,
    "startAt" TIMESTAMP(3) NOT NULL,
    "endAt" TIMESTAMP(3) NOT NULL,
    "timezone" TEXT NOT NULL,

    CONSTRAINT "Shift_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ShiftMember" (
    "id" TEXT NOT NULL,
    "shiftId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "role" TEXT,
    "notes" TEXT,

    CONSTRAINT "ShiftMember_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."InventoryItem" (
    "id" TEXT NOT NULL,
    "guildId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "quantity" INTEGER NOT NULL,
    "checkouts" JSONB NOT NULL DEFAULT '[]',

    CONSTRAINT "InventoryItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Kudos" (
    "id" TEXT NOT NULL,
    "guildId" TEXT NOT NULL,
    "fromUserId" TEXT NOT NULL,
    "toUserId" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Kudos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."LostItem" (
    "id" TEXT NOT NULL,
    "guildId" TEXT NOT NULL,
    "itemName" TEXT NOT NULL,
    "foundLocation" TEXT NOT NULL,
    "imageUrl" TEXT,
    "reportedById" TEXT NOT NULL,
    "status" "public"."LostItemStatus" NOT NULL DEFAULT 'IN_STORAGE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LostItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Knowledge" (
    "id" TEXT NOT NULL,
    "guildId" TEXT NOT NULL,
    "keyword" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Knowledge_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CongestionReport" (
    "id" TEXT NOT NULL,
    "guildId" TEXT NOT NULL,
    "location" TEXT NOT NULL,
    "level" INTEGER NOT NULL,
    "reporterId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CongestionReport_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Template" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "content" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Template_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."BuildRun" (
    "id" TEXT NOT NULL,
    "guildId" TEXT NOT NULL,
    "templateName" TEXT NOT NULL,
    "dryRunResult" JSONB NOT NULL,
    "snapshot" JSONB NOT NULL,
    "status" TEXT NOT NULL,
    "executedBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BuildRun_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Segment" (
    "id" TEXT NOT NULL,
    "guildId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "conditions" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Segment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."GuildConfig" (
    "id" TEXT NOT NULL,
    "guildId" TEXT NOT NULL,
    "reminderChannelId" TEXT,
    "festivalStartDate" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "GuildConfig_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "Shift_guildId_idx" ON "public"."Shift"("guildId");

-- CreateIndex
CREATE UNIQUE INDEX "ShiftMember_shiftId_userId_key" ON "public"."ShiftMember"("shiftId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "InventoryItem_guildId_name_key" ON "public"."InventoryItem"("guildId", "name");

-- CreateIndex
CREATE UNIQUE INDEX "Knowledge_guildId_keyword_key" ON "public"."Knowledge"("guildId", "keyword");

-- CreateIndex
CREATE INDEX "CongestionReport_guildId_location_createdAt_idx" ON "public"."CongestionReport"("guildId", "location", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "Template_name_key" ON "public"."Template"("name");

-- CreateIndex
CREATE INDEX "Segment_guildId_idx" ON "public"."Segment"("guildId");

-- CreateIndex
CREATE UNIQUE INDEX "Segment_guildId_name_key" ON "public"."Segment"("guildId", "name");

-- CreateIndex
CREATE UNIQUE INDEX "GuildConfig_guildId_key" ON "public"."GuildConfig"("guildId");

-- AddForeignKey
ALTER TABLE "public"."ShiftMember" ADD CONSTRAINT "ShiftMember_shiftId_fkey" FOREIGN KEY ("shiftId") REFERENCES "public"."Shift"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ShiftMember" ADD CONSTRAINT "ShiftMember_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

